.stat-title {
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  text-align: center;
}

.stat-description {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.yellow {
  background-color: #eadd65;
}
.green {
  background-color: #37be75;
}

.mystery-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.mystery-text {
  font-size: 1.25rem;
}
